/* http://www.menucool.com */

/*slider frame*/
#sliderFrame 
{
    width:auto;
    margin:0; /*remove the "margin:0 auto;" if you want to align the whole slider to the left side*/
    padding:0;
    box-shadow: 0 0 5px #BBB; background-color: transparent;
}
     
        

#sliders { 
    width:1198px;height:200px;/* Make it the same size as your images. */
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto;/*make the image slider center-aligned */
}
#sliders img {
	position:absolute;
	border:none;
	visibility:hidden;
}

/* the link style (if an image is wrapped in a link) */
#sliders a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */
div.mc-caption-bg, div.mc-caption-bg2 {
	position:absolute;
	width:50%;
	height:auto;
	padding:10px;
	left:330px; /*if the caption needs to be aligned from right, specify by right instead of left. i.e. right:20px;*/
	top:150px;/*if the caption needs to be aligned from top, specify by top instead of bottom. i.e. top:150px;*/
	z-index:3;
	overflow:hidden;
	font-size:0;
}
div.mc-caption-bg {
	background:black; /*Caption background color. Can be set to "background:transparent;", or set to semi-transparent through the sliderOptions.captionOpacity setting in the javascript.*/
	border:5px solid white;
	border-radius: 5px;
}
div.mc-caption {
	font:bold 13px/16px Arial;
	color:white;
	z-index:4;
	text-align:center;
}
div.mc-caption a { 
	color:#060;
}


/* ------ built-in navigation bullets wrapper that is relative to the #slider ------*/
div.navBulletsWrapper  {
	display:none;
}
/* --------- Others ------- */
#sliders
{
	transform: translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
}

#container{
		min-width:0px;
		min-height:640px;
		display: -webkit-flex;
		display: flex;
		background-repeat: repeat-x;
		-webkit-flex-flow: row;
				flex-flow: row;
	}
	
#container> article {
		margin: 5px;
		padding: 3px;
		box-shadow: 0 0 5px #BBB; background-color: transparent;
		-webkit-flex: 1 3 70%;
				flex: 1 3 70%;
		-webkit-order: 2;
				order: 2;
	}

#container > nav {
		margin: 5px;
		padding: 3px;
		-webkit-flex: 6 1 15%;
				flex: 6 1 15%;
		-webkit-order: 1;
				order: 1;
	}

#container > aside {
		margin: 5px;
		padding: 3px;
		-webkit-flex: 6 1 15%;
				flex: 6 1 15%;
		-webkit-order: 3;
				order: 3;
	}

footer {
	border: 0 solid white;
	display: block;
	margin: 15px;
	box-shadow: 0 0 5px #BBB; background-color: transparent;
	width: 95%;
	text-align: center;
	}
header {
	border: 1px solid yellow;
	display: block;
	margin: 15px;
	border: 1px solid  white;
	width: 95%;
	}

a {
	color: #C1171C;
	text-decoration: none;
	cursor: pointer;
}
a:hover { text-decoration: none }
a img { border: 0; }
h1 { font-size: 36px; line-height: 40px; color: #fff; text-transform: uppercase; }

p { line-height: 22px; font-size: 12px; text-align:center; font-weight:bold}

.btn-slider { background: url(../images/btn-slider.png) no-repeat 0 0; width: 124px; height: 33px; display: block; line-height: 33px; }
.btn-slider { padding:0 0 3px 28px; font-size: 16px; color: #692447; margin-left: -6px; }


 
#slider { background: url(../images/sliderbg.jpg) no-repeat 0 0; border: 2px solid  white; height: 350px; width: auto; } 
#slider { position: relative; margin-bottom: 22px; }
#slider .jcarousel-clip { width: auto; height: 369px; overflow: hidden; }
#slider .jcarousel-item { width: auto; height: 369px; }
#slider .content {padding: 27px 33px 0 51px; overflow: hidden; }
#slider .image { float: left; display: inline; background: url(../images/frame.png) no-repeat 0 0; width: 450px; height: 265px; padding: 15px; }
#slider .details { float: left; display: inline; width: 300px; margin-top: 18px; }
#slider p.description {
	font-size: 15px;
	line-height: 22px;
	color: white;
	margin: 5px;
}
#slider .jcarousel-control { position: absolute; bottom: 12px; right: 390px; width: 100px; height: 18px; line-height: 0px; }
#slider .jcarousel-control a { background: url(../images/carosel-control.png) no-repeat right 0; width: 19px; height: 18px; margin-right: 4px; }
#slider .jcarousel-control a { text-indent: -4000px; font-size: 0px;  display: inline; float: left; }
#slider .jcarousel-control a.active,
#slider .jcarousel-control a:hover { background-position: left 0; } 


h3{

	color: white;
	font-family: sans-serif;
	font-weight: bolder;
}

#us{
	color: white;
}

*
{
    padding: 0;
    margin: 0;
}
body
{
    background-image: url(../images/pattern.jpg);
}
#demo-wrapper
{
    width: 600px;
    margin: 40px auto;
}
#button-less
{
    margin-top: 20px;
}
#button-less .akordeon-item-head-container
{
    left: 0px !important;
}

#main {
	height: 222px;
	width: 182px;
	border: #666666 5px double;
}

#main div.current {
	z-index: 2;
}

#main div {
	position: absolute;
	z-index: 0;
}

#main div.prev {
	z-index: 1;
}

.menu{
	padding: 0;
	margin: 0 2px;
}
.menu a {
	padding: 50px;
	border: 50px;
	color: #000000;
	width: 130px;
	height: 200px;
	text-decoration: none;
	font-weight: bold;
}
.menu em {
	width: 350px;
	height: auto;
	position: absolute;
	top: -85px;
	left: 850px;
	top: 100px; /*eto naman po yung o\position from left nung hohover po. mas mataas na value mas ppunta sa right*/-
	text-align: center;
	font-style: normal;
	z-index: 2;
	display: none;
	background-color:black;
	border: 1px solid white;
	color: white;
}

#mains {
	height: 400px;
	width: 182px;
	border:  5px solid white;
}

#mains div.current {
	z-index: 2;
}

#mains div {
	position: absolute;
	z-index: 0;
}

#mains div.prev {
	z-index: 1;
}
