body {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 700px;
}

.hidden {
    display: none;
}

footer{
	background-color: #fa3616;
	border-top: 1px solid rgba(0,0,0,0.3);
	bottom: 0px;
	position:fixed;
	left: 0px;
	padding: 10px;
	text-align: center;
	width:100%;
	-webkit-transition: background 1s;
}

.navbar {
	background-color: #fa3616;
}

a{
	color: black;
}

.coe{
	width: 90px;
	height: 90px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
