body {
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 700px;
}

.hidden {
    display: none;
}

footer{
	background-color: black;
	border-top: 1px solid rgba(0,0,0,0.3);
	bottom: 0px;
	position:fixed;
	left: 0px;
	padding: 10px;
	text-align: center;
	width:100%;
	color: white;
	-webkit-transition: background 1s;
}

.navbar {
	background-color: #fa3616;
}

.coe{
	width: 90px;
	height: 90px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.wcslide {
	width: 1120px;
	height: 300px;
}

.options {
	text-align: justify;
	font-family: mekanin let;
	font-size: 15px;
	font-weight: bolder;
}

.home-content {
	background-color: orange;
}

.font{
	font-family: comic sans ms;
}

.option {
	font-family: sans-serif;
}

h1 {
	color: black;
}
