body{
	padding-top: 70px;
	padding-bottom: 50px;
	min-height: 1000px;
}
footer{
	background-color: violet;
	border-top: 1px solid rgba(0,0,0,0.3);
	bottom: 0px;
	position:fixed;
	left: 0px;
	padding: 10px;
	
	text-align: center;
	width:100%;
	-webkit-transition: background 1s;
}

.img-thumbnail{
	max-width: 120px;
	max-height: 90px;
}

.previous_page, .next_page{
	display: inline;
}

